* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #385273;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}
.title-image-div {
    margin: 0 auto;
    width: 50%;
    height: 50vh;
    
}
.logo {
    width: 100%;
    object-fit: contain;

}
#main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    background-color: white; 
    border-radius: 2px;
    word-wrap: break-word;
}
.quote-div {
    margin: 0 auto;
    padding: 50px 50px 0px 50px;
    position: relative;
    width: 100%;
}

#quote{
    max-width: 95%;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}

h2 {
    margin-bottom: 10px;
   
}
#character {
    text-align: right;
    margin-bottom: 10px
    
}
#twitter {
color: #1DA1F2;
cursor: pointer;
}

.button-divs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}
#button {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #385273;
    color: white;
    font-size: 15px;
    height: 50px;
    
}

#char-image {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    opacity: .5;
}

@media screen and (max-width: 1000px) {
    #main {
        max-width: 95%;

    }
}


